:root {
  // sizes
  --navbar-height: 60px;
  --border-radius: 7px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 70px;
  --page-content-height: calc(100vh - var(--navbar-height) - 30px);

  // z-indexes
  --z-index-modal: 10;

  // colors
  --color-warn: orange;

  // box-shadow
  --box-shadow: 0 2px 8px 0 rgb(0 0 0 / 5%);
  --test-border: 1px solid red;
}
