.content {
  color: var(--content-text-color);
}

.error {
  color: var(--color-error);
}

.warn {
  color: var(--color-warn);
}

.text_size_s {
  p {
    font: var(--font-14);
  }

  span {
    font: var(--font-12);
  }
}

.text_size_m {
  p {
    font: var(--font-20);
  }

  span {
    font: var(--font-16);
  }
}

.text_size_l {
  p {
    font: var(--font-26);
  }

  span {
    font: var(--font-20);
  }
}

.normal-fs {
  font-style: normal;
}

.italic-fs {
  p {
    font-style: italic;
  }
}
