.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg);
  transition: width ease-out 0.2s;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 10px 13px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapseBtn {
  position: absolute;
  bottom: 30px;
  right: -35px;
}

.switchers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.switchersCollapsed {
  flex-direction: column;
  gap: 0;
}

.sidebarLang {
  margin-bottom: 13px;
}
