@use "reset";
@use 'themes/light';
@use 'themes/dark';
@use 'variables/globals';
@use 'fonts/fonts';

.app {
  height: 100vh;
  font: var(--font-m);
  background-color: var(--content-bg);
  color: var(--content-text-color);
  overflow: scroll;
}
