.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.commonInfo {
  display: flex;
  gap: 10px;
}

.title {
  margin: 20px 0;
}

.arrowIcon {
  transform: rotate(90deg);
  margin-left: -10px;
}
