@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('/src/app/styles/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  src: url('/src/app/styles/fonts/Inter_18pt-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('/src/app/styles/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: italic;
  src: url('/src/app/styles/fonts/Inter_18pt-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('/src/app/styles/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: normal;
  src: url('/src/app/styles/fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-style: italic;
  src: url('/src/app/styles/fonts/Inter_18pt-LightItalic.ttf') format('truetype');
}

:root {
  --font-family-main: 'Inter', 'Arial', sans-serif;
  --font-family-600: 'InterBold', 'Arial', sans-serif;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-size-12: 12px;
  --font-line-14: 14px;
  --font-12: var(--font-size-12) / var(--font-line-14) var(--font-family-main);
  --font-12-500: var(--font-weight-500) var(--font-12);
  --font-12-600: var(--font-weight-600) var(--font-12);
  --font-size-14: 14px;
  --font-line-17: 17px;
  --font-14: var(--font-size-14) / var(--font-line-17) var(--font-family-main);
  --font-14-500: var(--font-weight-500) var(--font-14);
  --font-14-600: var(--font-weight-600) var(--font-14);
  --font-size-16: 16px;
  --font-line-24: 24px;
  --font-16: var(--font-size-16) / var(--font-line-24) var(--font-family-main);
  --font-16-500: var(--font-weight-500) var(--font-16);
  --font-16-bold: var(--font-weight-600) var(--font-16);
  --font-size-18: 18px;
  --font-line-26: 26px;
  --font-18: var(--font-size-18) / var(--font-line-26) var(--font-family-main);
  --font-18-500: var(--font-weight-500) var(--font-18);
  --font-18-bold: var(--font-weight-600) var(--font-18);
  --font-size-20: 20px;
  --font-20: var(--font-size-20) / var(--font-line-26) var(--font-family-main);
  --font-20-500: var(--font-weight-500) var(--font-20);
  --font-20-bold: var(--font-weight-600) var(--font-20);
  --font-size-24: 24px;
  --font-line-28: 28px;
  --font-24: var(--font-size-24) / var(--font-line-28) var(--font-family-main);
  --font-24-500: var(--font-weight-500) var(--font-24);
  --font-24-600: var(--font-weight-600) var(--font-24);
  --font-size-26: 26px;
  --font-line-30: 30px;
  --font-26: var(--font-size-26) / var(--font-line-30) var(--font-family-main);
  --font-26-600: var(--font-weight-600) var(--font-26);
}
