.dark {
  --content-bg: #696761;
  --content-bg-hover: #696761;
  --navbar-bg: #4d4c3f;
  --navbar-bg-hover: #5b5b51;
  --sidebar-bg: #4f4e46;
  --sidebar-bg-hover: #7a7970;
  --content-text-color: #fff;
  --comment-text-color: #fff;
  --nav-text-color: #fff;
  --border: #fff;
  --content-border: #fff;
  --nav-border: #fff;
  --input-bg: #a3a29d;
  --edit-border: #d1d431;
  --skeleton-color: #b9b7b7;
  --skeleton-shadow: #c4c0c0;
  --code-bg: #444343;
  --card-bg: #767573;
  --color-error: #ea8787;
  --view-selected: #36c0c0;
  --popup-bg: #696761;
  --popup-bg-hover: #4f4e46;
}
