.green {
  --content-bg: #f2fed8;
  --content-bg-hover: #ebfab7;
  --navbar-bg: #a2d91f;
  --navbar-bg-hover: #b3f023;
  --sidebar-bg: #b8f032;
  --sidebar-bg-hover: #cff376;
  --content-text-color: #6e6b6b;
  --comment-text-color: #000;
  --nav-text-color: #000;
  --border: #368cd4;
  --content-border: #000;
  --nav-border: #000;
  --input-bg: #c4f159;
  --edit-border: #ef4ef2;
  --skeleton-color: #8be73b;
  --skeleton-shadow: #1def29;
  --code-bg: #fff;
  --card-bg: #ebfdbf;
  --color-error: #ea8787;
}
