.light {
  --content-bg: #fdfdf1;
  --content-bg-hover: #fefec6;
  --navbar-bg: #dddd17;
  --navbar-bg-hover: #f1f129;
  --sidebar-bg: #e4e45b;
  --sidebar-bg-hover: #f8f86b;
  --content-text-color: #6e6b6b;
  --comment-text-color: #000;
  --nav-text-color: #000;
  --border: green;
  --content-border: #000;
  --nav-border: #000;
  --input-bg: #f8f86d;
  --edit-border: #4ed7f2;
  --skeleton-color: #bdbdbd;
  --skeleton-shadow: #dad8d8;
  --code-bg: #fff;
  --card-bg: #fcfce2;
}
