.MainLayout {
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: var(--main-layout-sidebar-full-width) 1fr var(--main-layout-rightbar-width);
  gap: 20px;
}

.collapsed {
  grid-template-columns: min-content 1fr var(--main-layout-rightbar-width);
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
  padding: 20px 0;
}

.rightbar {
  grid-area: rightbar;
}

.sidebar, .rightbar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.header {
  margin-top: 20px;
  justify-self: end;
}

.toolbar {
  display: block;
  height: 100%;
}
