.MainLayout {
  display: grid;
  grid-template-areas: 'sidebar content rightbar';
  grid-template-columns: 264px 1fr 236px;
  height: 100vh;
  overflow-y: scroll;
}

.collapsed {
  grid-template-columns: 104px 1fr 236px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
}

.rightbar {
  grid-area: rightbar;
}

.sidebar, .rightbar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.header {
  margin-top: 20px;
  justify-self: end;
}

.toolbar {
  display: block;
}
