.Header {
  display: flex;
  justify-content: end;
  background-color: var(--navbar-bg);
  height: var(--navbar-height);
  padding: 20px;
  box-sizing: border-box;

}

.links {
  display: flex;
  align-items: center;
  gap: 21px;
}
