.ThemeSwitcher {
  display: block;
}

.light {
  svg {
    fill: #a2d91f;
  }
}

.dark {
  svg {
    fill: #f7fc2a;
  }
}

.green {
  svg {
    fill: #000;
  }
}

.lightV2 {
  svg {
    fill: #a2d91f;
  }
}

.darkV2 {
  svg {
    fill: #f4f4f4;
  }
}

.greenV2 {
  svg {
    fill: #000;
  }
}
