@font-face {
    font-family: 'MyFont';
    src: url('./fonts/RobotoCondensed-ExtraLight.ttf') format('ttf'),
    url('./fonts/RobotoCondensed-Light.ttf') format('ttf');
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background-repeat: no-repeat;
}
