.AppLink {
  padding: 5px 10px;
  display: inline-block;
}

.content {
  color: var(--content-text-color);
}

.navigation {
  color: var(--nav-text-color);
}

.navigationBorder {
  color: var(--nav-text-color);
  border: 1px solid var(--nav-border);
  border-radius: var(--border-radius);
}

.contentBorder {
  color: var(--content-text-color);
  border: 1px solid var(--content-border);
  border-radius: var(--border-radius);
}
