.ContentStickyLayout {
  display: grid;
  grid-template-areas: 'left content right';
  grid-template-columns: min-content 1fr min-content;
  position: relative;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  width: 100%;
  justify-self: center;
  padding: 0 16px;
}

.right {
  grid-area: right;
}

.left, .right {
  position: sticky;
  top: 32px;
  height: fit-content;
}