.Input {
  position: relative;
}

.inputEl {
  width: 100%;
  outline: none;
  padding: 5px 5px 5px 15px;
  border: 2px solid var(--content-border-v2);
  border-radius: 20px;
}

.medium {
  height: 38px;
}

.large {
  height: 44px;
}

.readonly {
  opacity: 0.8;
}
.searchIcon {
  position: absolute;
  top: 15px;
  left: 13px;
}

.withSearchIcon {
  padding: 5px 5px 5px 33px;
}